
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside,
section, article, header, footer, main, input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
    background: none;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html * {
    max-height: 1000000px;
}
input, textarea {
    font: inherit;
}
button {
    cursor: pointer;
	border: none;
	outline: none;
    background: none;
}
html, body {
    height: 100%;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover > span {
    text-decoration: underline;
}

/* icons */
.icon::before {
    font-family: 'icomoon';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}
.icon:hover::before {
    color: lightblue;
}/*
.logo::before {
    content: '\e900';
}
.login::before {
    content: '\e902';
}
.order::before {
    content: '\e901';
}
.cat::before {
    content: '\e903';
}*/
.to_left::before {
    
    content: '\219E';
}
.to_right::before {
    content: '\21A0';
}

.container {
   margin: o auto;
    width: 1320px;
}
/*шапка*/

header {
    
    display: block;
    box-shadow: 0px 2px 7px gray;
    background: white;
    color: black;
    border: 1px solid gray;
    
}
/*1 part of header*/
.hd1 {
    display: block;
    width: 100%;
    background: #1e366d; 
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;
    height: 40px;
    border-bottom: 1px solid #4972cf;
}
#city{
   display: inline-block;
   color: white; 
   padding: 10px;
     
      
}
#hours{
      
    
    display:inline-block;
    position:absolute;
    right: 100px;
    padding: 10px;  
  
    
    background: #1e366d;
    
    color: white;
   
}
#tel {
    display: inline-block;
    position: relative;
    float: right;
    right: 20px;
    background: #1e366d;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* 2 part of header*/
.hd2{
    
    display: block;
    background: #1e366d; 
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;
    height: 90px;
    border-bottom: 1px solid #4972cf;
}
.logo {
    display: inline-block;
    height: 70px;
    position: relative;
    left: 0px;
    padding: 10px;
    
}
.texl {
    display: inline-block;
    width: 25%;
    height: 70px;     
    margin: 10px;    
    position: absolute;    
    left: 140px;
    font-family: italic;  
    color: #f9e35d;
    font-size: 18px;
       
    
   
}
.searchfl{
     display: inline-block;
     width: 40px;
     margin-right: 15px;
     margin-bottom: 20px; 
     position: absolute;
     right: 140px;     
     cursor: pointer;
     top: 70px;
      
      transform-origin: right top;
      transition: width 2s;
}
.searchbar {
     
      font-size: 24px;
      color: #4972cf;
      width: 250px;
      height:30px;
      
      outline: none;
      
      padding: 10px;
      padding-left: 40px;
      
      
      
      }
     .searchfl:hover {
     transform: scale(1);
 
      width: 400px;
  border-radius: 50px;
     border: 1px solid #4972cf;
      
      }
      
      .button {
      height: 40px;
      position: absolute;
      top:10px;
      left: 0px;
      transition: all .1s;
      transition-delay: .1s;
      }
      .button:hover {
      cursor: pointer;
      }
       .button:hover + .searchbar {
      transform-origin: right center;
       width:400px;}
    /*  .searchbar:hover + .button {
      
      height: 60px;
      top: 20px;
      left: 50px;
      }*/
      /*.searchbar::placeholder {
      opacity: 1;
      }
      */


  
.intro {
    
    display: inline-block;
    height: 40px;     
    margin: 10px;    
    position: absolute;    
    right: 40px; 
    cursor: pointer;
    top: 70px;
}


.basket {
    
    display: inline-block;
    height: 40px;     
    margin: 10px;    
    position: absolute;    
    right: 90px; 
    top: 70px;
    cursor: pointer;
}
/* 3 part of header*/
 
 .hd3{
     display: block;
    background: #1e366d; 
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;
 
    
     
 }
 
.topmenu {
    padding: 5px 0;
    display: block;
    margin: 0 auto;
    text-align: center;
     
}
.topmenu a {
    display: inline-block;
    margin-left: 20px;
    color: white;
    background:
}
.topmenu a:first-child {
    margin-left: 20px;
}
.topmenu a::before {
    content: '\1F33F';
    padding-right: 20px;
}
.topmenu a:first-child::before {
    display: none;
}


/*modal*/

.screener {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}
.modal {
    background: white;
    border-radius: 10px;
    position: fixed;
    left: calc(50% - 240px);
    width: 400px;
    top: 200px;
    padding: 40px;
    z-index: 1;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: red;
    font-size: 40px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.close:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
}
#citymodal p {
    color: blue;
    cursor: pointer;
}
#citymodal p:hover {
    text-decoration: underline;
}
#citysearch {
    border: 1px solid blue;
    color: blue;
    display: block;
    padding: 5px 15px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
#citysearch::placeholder {
    color: rgba(0,0,255,.5);
    font-style: italic;
}
.columns {
    columns: 185px 2;
    gap: 30px;
}

/*main page*/
/* action */

.action {
    background: #c5d2f0;
    /*background-image: url("shimg/blocktectura.jpg"); не работает*/
    padding: 30px;
    color: red;
    font-size: 25px;
}
.action .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60px;
}
.action p {
    width: 50%;
    text-align: center;
}
.actiontimer {
    display: block;
}
/* slider */
.mainbody {
   display: block;
    background: #1e366d; 
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;  
    
}
.slider {
    width: 700px;
    height: 468px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
}
.slider_desk {
    border: 1px solid black;
    width: 698px;
    height: 466px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.slider_block {
    border: none;
    width: 696px;
    height: 464px;
    position: absolute;
    z-index: -1;
    top: 0;
    background: #fff;
}
.slider_block.next {
    left: 700px;
    z-index: 1;
}
.slider_block.prev {
    left: -700px;
    z-index: 1;
}
.slider_block.was_current {
    transition: left .5s;
}
.slider_block.current {
    left: 0;
    z-index: 1;
    transition: left .5s;
}
.slider button {
    position: absolute;
   /* border: 1px solid lightblue;*/
    height: 40px;
    width: 60px;
    border-radius: 8px;
    top: 267px;
    z-index: 1;
    cursor: pointer;
    font-size: 40px;
    line-height: 40px;
    color: lightblue;
    opacity: 0;
}
.slider .to_left {
    left: 40px;
    
}
.slider .to_right {
    right: 40px;
}
.slider_points {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}
.slider_points span {
	flex: none;
    border-radius: 50%;
	border: 1px solid lightblue;
	height: 22px;
	width: 22px;
	cursor: pointer;
    opacity: 0;
}
.slider_points span.active {
    background: lightblue;
}
.slider_desk:hover ~ button,
.slider button:hover,
.slider_desk:hover ~ .slider_points span,
.slider_points:hover span {
    opacity: 1;
}
/*article*/
.mainbody h2 {
    color: white;
    text-align: center;
    padding-top: 15px;
}
#articl{
    display: block;
    width: calc(100%- 100px);
    padding:  30px 15px;
    background: white;
    border: 20px solid #0b1d45;
    border-radius: 50px;
    
}
#articl h2, #articl h3, #articl p {
    color: #0b1d45;
    padding: 10px;
    
}
#articl img {
    width: calc(100% - 150px);
    
}
/*#articl h3 {
    color: #0b1d45;
    padding: 10px;
    
}*/


/*footer*/
.footerwr {
    position: relative;
    width: 100%;
    height:300px;/
    padding: 20px 50px;
    background: #0b1d45;
    display: block;
   
   
    
}

/*footer .wave{
    position: absolute;/*абсолютное позиционирование
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);/*картинка волны
    background-size: 1000px 100px;/*ширина и высота волны
} */

.menufooter{
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
   
    margin: 10px 0;
    padding: 0 40px 0 40px;
    
}
.menufooter li a {
    font-size: 18px;
    color: white;
    opacity: 0.75;
   
    text-decoration: none;
    display: inline-block;
}
.menufooter li{
    list-style: none;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
   
}

.info{
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
   
    margin: 10px 0;
    padding: 0 40px 0 40px;
    
}
.info li a {
    font-size: 18px;
    color: white;
    opacity: 0.75;
   
    text-decoration: none;
    display: inline-block;
}
.info li{
    list-style: none;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
   
}
.social{
    position: relative;
    display: inline-block;
    float: right;
    width: 10%;
    margin-top: 15px;
   
    
   
    
}
.social li a {
     font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
   
    text-decoration: none;
    display: inline-block;
}
.info li a:hover {
    opacity: 1;
}

.menufooter li a:hover {
    opacity: 1;
}
footer p {
    
    width: 100%;
    height:50px;
    padding: 20px 50px;
    background: #0b1d45;
    display: flex;
    display: block;
    color: #fff;
    text-align: center;
   
    font-size: 1.1em;
}

/* catalog */
.catalog .container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.catalog aside {
    flex: 0 0 360px;
    background: #1e366d;
    color:white;
}
.catmenu {
    padding: 20px;
}
.catmenu a {
    color: white;
}
.catmenu ul {
    margin-top: 10px;
}
.catmenu > ul > li {
    padding: 5px 30px 5px 0;
    border-top: 1px solid #4972cf;
}
.catmenu ul ul {
    margin: 0;
    position: relative;
    left: 30px;
}
.catmenu ul ul::before {
    content: '\23f7';
    position: absolute;
    top: -30px;
    right: 0;
    transition: transform 1s;
    cursor: pointer;
}
.catmenu .open::before {
    transform: rotateX(180deg);
}
.catmenu li li {
    font-size: 14px;
    line-height: 30px;
}
.catmenu.simple li li {
    display: none;
}
.catmenu.simple .open li {
    display: list-item;
}
.catalog .filters {
    padding: 20px;
}
.filters input {
    border: 1px solid white;
    color: white;
    padding: 2px 5px;
    width: 50px;
    text-align: center;
    margin: 0 5px;
}
#amount1, #amount2 {
   
    width: 80px;
    
}
#slider-range {
    margin: 20px 0;
}
#slider-range .ui-widget-header {
    background: #4972cf;
}
#slider-sq {
    margin: 20px 0;
}
#slider-sq .ui-widget-header {
    background: #4972cf;
}
.filterter , .filterbal{
	
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	line-height: 18px;
	user-select: none;
}


.catalog article {
    /* display: table; */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.cat-item {
    width: 160px;
    height: 290px;
    border: 2px solid #1e366d;
    /*float: left;*/
    /* display: inline-block; */
    /* vertical-align: top; */
    
}
/* adaptive */
@media (max-width: 1400px) {
    .container {
        width: auto;
        margin: 0 40px;
    }
}
@media (max-width: 767px) {
    .texl {
        font-size: 14px;
        width: 40%;
    }
    .basket, .intro {position: right;}
    .hd2 {
        height: 150px;
    }
}
